{## hopup-modal v.0.1 ##}

{{ require_css('launchpad-hubl/modules/hubl-hopup-modal-form/hopup-modal.css') }}
{{ require_js('launchpad-hubl/modules/hubl-hopup-modal-form/hopup-modal.js') }}

<!-- hopup modal form start -->
{% if widget.enabled %}

<div class="hopup-modal {{ widget.hopup_modal_type }} {{ widget.light_or_dark_version }}" style="opacity: 0; display:none;">
  <div class="hopup-modal-inner {{ widget.hopup_identifier }}">
	  <div class="hopup-modal-header">
	    <div class="hopup-modal-main-header">
	      <h2>{{ widget.hopup_header }}</h2>
      </div>
      <div class="clearfix"></div>
      <div>
        {{ widget.hopup_content }}
      </div>
    </div>
    <div class="hsEmbedForm"></div>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      $(window).on("load", function(){

        hbspt.forms.create({
        portalId: '{{ widget.hopup_portal_id }}',
        target: '.hsEmbedForm',
        formId: '{{ widget.hopup_form_id }}',
        css: '',
        onFormReady: function($form) {
          $('.hopup-modal').hopupModal({

            trigger: '{{ widget.hopup_modal_type }}',                    // Options: exit | slide | timer

            {% if widget.show_once %}
              showOnce: 'true',      				// Show modal only once per session
            {% endif %}

            {% if widget.hopup_modal_type == "timer" %}
              triggerTime: '{{ widget.trigger_time }}',  				// Triggers modal after 10 seconds
            {% endif %}

            {% if widget.hopup_modal_type == "scroll" %}
              triggerPosition: '{{ widget.slide_percentage }}',    		// Triggers modal when 70% of he page is scrolled
            {% endif %}

            {% if widget.hopup_modal_type == "slide" %}
              triggerPosition: '{{ widget.slide_percentage }}',        	// Triggers modal when 70% of he page is scrolled
            {% endif %}

          });
        },

        onFormSubmit: function($form) {
          localStorage.setItem(window.RShopId,'submitted');
          console.log("form submitted");
        }
      });
    });
    </script>

    <div class="hopup-modal-close" style="background: url('http://www.lean-labs.com/hubfs/img/close.png') 50% 50% / cover;"></div>
  </div>
</div>
<!-- hopup modal form end -->

{% endif %}
