{% if hub_id == 123 %}
  <!--
    layout options: 'no-wrapper', 'container', 'container-fluid'
  -->
  {% set widget = {
    'flex_name': 'rich text',
    'layout': 'container',
    'mobile_columns': '1',
    'top_bottom_padding': '2.5em',
    'mobile_text_alignment': 'center',
    'border_top': 1,
    'border_bottom': 1
    }
  %}

  {% set sr-variables = projectDir + "/custom/page/sr-templates/sr-variables.html" %}
  {% set sr-extends = projectDir + "/custom/page/sr-templates/sr-flex-column-01.html" %}
  {% import sr-variables as sprocket %}
  {% extends sr-extends %}
{% else %}
  {% import 'custom/page/sr-templates/sr-variables.html' as sprocket %}
  {% extends 'custom/page/sr-templates/sr-flex-column-01.html' %}
{% endif %}
