{## sr-parallax-masthead v.0.2 ##}

{{ require_css(sprocket.assetDir + '/pattern-library/sr-parallax-masthead/sr-masthead-01.css') }}

{% if widget.parallax %}
		{{ require_js(sprocket.assetDir + '/pattern-library/sr-parallax-masthead/TweenMax.min.js') }}
		{{ require_js(sprocket.assetDir + '/pattern-library/sr-parallax-masthead/ScrollMagic.min.js') }}
		{{ require_js(sprocket.assetDir + '/pattern-library/sr-parallax-masthead/animation.gsap.min.js') }}

		<!-- parallax masthead 01 start -->
		<script type="text/javascript">
				$(function() {
						var controller = new ScrollMagic.Controller();

						// build scene
						var scene = new ScrollMagic.Scene({triggerElement: '.sr-masthead-wrapper', triggerHook: 'onLeave', duration: "70%"})
								.setTween(".sr-masthead-inner", {y: 90})
								// .addIndicators() // add indicators (requires plugin)
								.addTo(controller);

						var scene1 = new ScrollMagic.Scene({triggerElement: '.sr-masthead-wrapper', triggerHook: 'onLeave', duration: "70%"})
								.setTween(".sr-masthead-image", {opacity: .0})
								// .addIndicators() // add indicators (requires plugin)
								.addTo(controller);
						});
		</script>
{% endif %}

<header class="sr-masthead-wrapper" style="background: #000">
		<div class="sr-masthead-image" style="background: url('{{ widget.image.src }}') 50% 50% / cover; {% if widget.overlay == 'light' %}opacity: .75;{% elif widget.overlay == 'medium' %}opacity: .5;{% elif widget.overlay == 'dark' %}opacity: .25;{% endif %}"></div>
		<div class="container">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						{% block sr-parallax-masthead-content %}
								<div class="sr-masthead text-center" style="{% if widget.height == 'small' %}min-height: 500px;{% elif widget.height == 'medium' %}min-height: 600px;{% elif widget.height == 'large' %}min-height: 700px;{% endif %}">
										<div class="sr-masthead-inner">
												<h1>{{ widget.heading }}</h1>
												<p>{{ widget.lead }}</p>
												{% if widget.cta01_text %}<a href="{{ widget.cta01_link }}" class="btn btn-lg {% if widget.cta01_style == 'Primary' %}btn-primary{% else %}btn-default{% endif %}">{{ widget.cta01_text }}</a>{% endif %}
												{% if widget.cta02_text %}<a href="{{ widget.cta02_link }}" class="btn btn-lg {% if widget.cta02_style == 'Primary' %}btn-primary{% else %}btn-default{% endif %}">{{ widget.cta02_text }}</a>{% endif %}
										</div>
								</div>
						{% endblock %}
				</div>
		</div>
</header>
<!-- parallax masthead 01 end -->
